{{extend './layout.html'}}

{{block 'title'}}{{title}}{{/block}}

{{block 'script'}}
<script src="/javascripts/modernizr-latest.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.cslider.js"></script>
<script src="/javascripts/custom.js"></script>
{{/block}}

{{block 'content'}}

<header id="head" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>下载APP</h1>
            </div>
        </div>
    </div>
</header>
<div id="courses">
    <section class="container">
        <h3>扫码下载</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="featured-box" style="text-align:center">
                    <img src="/images/ewm.jpg">
                    <div>
                        扫一扫二维码，或点击右边下载链接
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="featured-box">
                    <i class="fa fa-apple fa-2x"></i>
                    <div class="text">
                        <h3>App Store</h3>
                        IOS版下载
                    </div>
                </div>
                <div class="featured-box">
                    <i class="fa fa-android fa-2x"></i>
                    <div class="text">
                        <h3>Android</h3>
                        Android版下载.
                    </div>
                </div>
                <div class="featured-box">
                    <i class="fa fa-leaf fa-2x"></i>
                    <div class="text">
                        <h3>其它版本</h3>
                        敬请期待.
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>
<!-- container -->
<div class="container">
    <div class="row">
        <!-- Article content -->
        <section class="col-sm-12 maincontent">
            <h3>悦听FM理念</h3>
            <p>
                水水理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念理念绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍.
            </p>
            <h3>悦听FM介绍</h3>
            <p>
                介绍介绍介绍介绍介绍介绍介绍介绍介介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍.
            </p>
        </section>
    </div>
</div>
<!-- /container -->
{{/block}}