{{extend './layout.html'}}

{{block 'title'}}{{title}}{{/block}}

{{block 'script'}}
<script src="/javascripts/modernizr-latest.js"></script>
<script src="/javascripts/jquery.cslider.js"></script>
<script src="/javascripts/viewjs/index.js"></script>
{{/block}}

{{block 'content'}}
<!-- Header -->
<header id="head">
    <div class="container">
        <div class="banner-content">
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2>想解放双手，听您想听的私人节目吗?</h2>
                    <p>悦听FM为您打造属于您自己的私人电台!!!</p>
                    <div class="da-img"></div>
                </div>
                <div class="da-slide">
                    <h2>想要成为主播吗？</h2>
                    <p>悦听FM正在努力为您打造您理想中的平台..</p>
                    <div class="da-img"></div>
                </div>
                <div class="da-slide">
                    <h2>悦听FM</h2>
                    <p>我们希望将她打造成主播与听众的精神家园.</p>
                    <div class="da-img"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /Header -->

<section class="container">
    <div class="heading">
        <!-- Heading -->
        <h2>热门推荐</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="/images/spotlight.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-md-8">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img class="card-img-top" src="http://static.runoob.com/images/mix/img_avatar.png" alt="Card image" style="width:100%"></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                明朝那些事儿
                            </div>
                        </div><time datetime="2016-01-01">25 Nov, 2016</time>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="/images/news1.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                Lorem ipsum dolor sit amet conse ctetu eiusmod.
                            </div>
                        </div><time datetime="2016-01-01">25 Nov, 2016</time>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="/images/news1.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                Lorem ipsum dolor sit amet conse ctetu eiusmod.
                            </div>
                        </div><time datetime="2016-01-01">25 Nov, 2016</time>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="/images/news1.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                Lorem ipsum dolor sit amet conse ctetu eiusmod.
                            </div>
                        </div><time datetime="2016-01-01">25 Nov, 2016</time>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container">
    <div class="row">
        <div class="col-md-4"><div class="title-box clearfix "><h2 class="title-box_primary">明朝那些事儿</h2></div>
            <p>《明朝那些事儿》这篇文主要讲述的是从1344年到1644年这三百年间关于明朝的一些事情，以史料为基础，以年代和具体人物为主线，并加入了小说的笔法，对明朝十七帝和其他王公权贵和小人物的命运进行全景展示，尤其对官场政治、战争、帝王心术着墨最多，并加入对当时政治经济制度、人伦道德的演义。</p>
            <a href="#" title="read more" class="btn-inline " target="_self">查看更多</a> </div>

        <div class="col-md-8">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="/images/news1.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                Lorem ipsum dolor sit amet conse ctetu eiusmod.
                            </div>
                        </div><time datetime="2016-01-01">25 Nov, 2016</time>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="/images/news1.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                Lorem ipsum dolor sit amet conse ctetu eiusmod.
                            </div>
                        </div><time datetime="2016-01-01">25 Nov, 2016</time>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="/images/news1.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                Lorem ipsum dolor sit amet conse ctetu eiusmod.
                            </div>
                        </div><time datetime="2016-01-01">25 Nov, 2016</time>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="/images/news1.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                Lorem ipsum dolor sit amet conse ctetu eiusmod.
                            </div>
                        </div><time datetime="2016-01-01">25 Nov, 2016</time>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<section class="news-box">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
               <h2><span>历史</span><a href="#">更多</a></h2>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><time datetime="2016-01-01">最后更新：2018-1-1</time><img src="/images/news1.jpg" alt=""></figure>
                            <div class="caption maxheight2"><div class="box_inner">
                                Lorem ipsum dolor sit amet conse ctetu eiusmod.
                            </div></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><time datetime="2016-01-01">25 Nov, 2016</time><img src="/images/news2.jpg" alt=""></figure>
                            <div class="caption maxheight2"><div class="box_inner">
                                Lorem ipsumulum aenean noummy endrerit mauris.
                            </div></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><time datetime="2016-01-01">25 Nov, 2016</time><img src="/images/news3.jpg" alt=""></figure>
                            <div class="caption maxheight2"><div class="box_inner">
                                Pariatur excepteur sint occaummy endrerit mauris.
                            </div></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><time datetime="2016-01-01">25 Nov, 2016</time><img src="/images/news4.jpg" alt=""></figure>
                            <div class="caption maxheight2"><div class="box_inner">
                                Magnis dis parturient montes ascetur ridiculus mus.
                            </div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"><div class="title-box clearfix"><h2 class="title-box_primary">热门排行</h2></div>
                <div class="list styled custom-list">
                    <ul>
                        <li><a title="Snatoque penatibus et magnis dis partu ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Penatibus et magnis dis parturient montes ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Morbi nunc odio gravida at cursus ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Snatoque penatibus et magnis dis ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Fusce feugiat malesuada odio. ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Snatoque penatibus et magnis dis ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Fusce feugiat malesuada odio. ." href="#">热门排行热门排行热门排行</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <h2><span>玄幻</span></h2>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><time datetime="2016-01-01">最后更新：2018-1-1</time><img src="/images/news1.jpg" alt=""></figure>
                            <div class="caption maxheight2"><div class="box_inner">
                                Lorem ipsum dolor sit amet conse ctetu eiusmod.
                            </div></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><time datetime="2016-01-01">25 Nov, 2016</time><img src="/images/news2.jpg" alt=""></figure>
                            <div class="caption maxheight2"><div class="box_inner">
                                Lorem ipsumulum aenean noummy endrerit mauris.
                            </div></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><time datetime="2016-01-01">25 Nov, 2016</time><img src="/images/news3.jpg" alt=""></figure>
                            <div class="caption maxheight2"><div class="box_inner">
                                Pariatur excepteur sint occaummy endrerit mauris.
                            </div></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><time datetime="2016-01-01">25 Nov, 2016</time><img src="/images/news4.jpg" alt=""></figure>
                            <div class="caption maxheight2"><div class="box_inner">
                                Magnis dis parturient montes ascetur ridiculus mus.
                            </div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"><div class="title-box clearfix"><h2 class="title-box_primary">热门排行</h2></div>
                <div class="list styled custom-list">
                    <ul>
                        <li><a title="Snatoque penatibus et magnis dis partu ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Penatibus et magnis dis parturient montes ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Morbi nunc odio gravida at cursus ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Snatoque penatibus et magnis dis ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Fusce feugiat malesuada odio. ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Snatoque penatibus et magnis dis ." href="#">热门排行热门排行热门排行</a></li>
                        <li><a title="Fusce feugiat malesuada odio. ." href="#">热门排行热门排行热门排行</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <ul>
        {{each list}}
        <li>编号：{{$value.id}} &nbsp;&nbsp;姓名：{{$value.name}}</a></li>
        {{/each}}
    </ul>
</div>
{{/block}}
